*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  border-top: 2px solid black;
  padding-top: 10px;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  border: solid 4px black;

  align-items: center;
  padding-top: 10px;

  h1 {
    font-size: 60px;
    font-family: "Fredericka the Great";
    /* color: brown; */
    border-bottom: solid 6px black;
    border-top: solid 6px black;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 600px) {
    grid-template-columns: auto 1fr;
  }
  .col-form {
    padding: 20px;
    border-bottom: solid 4px black;
    @media (min-width: 600px) {
      border-right: solid 4px black;
      border-bottom: none;
    }
  }

  .col-main {
    ul {
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      li:nth-child(odd) {
        border-right: solid 1px black;
      }
    }
  }
}

footer {
  border-top: solid 6px black;
  padding: 40px 60px;
}
